# OS
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Build output
dist/
build/

# Editors / IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs
*.log

# Sass cache
.sass-cache/

# Environment files
.env
.env.*.local

# Others (optional)
*.zip
*.tar.gz
